html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  background-color: black;
}

* {
  font-family: 'Archivo',
    sans-serif;
  line-height: 1.6rem;
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
}


.App {
  text-align: center;
}
.quickstart-tester {
  height: 100vh;
  width:100%;
  margin: 0px;
}

