
.outtermost {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    min-height: 100vh;
    color: white;
    background-color: orange;
    
}

.contact-body {
    padding-top: 5rem;
    background-color: green;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
}


form {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.media-link {
    display: flex;
    flex-direction: row ;
    padding: 0px;
    margin: 0;
    background-color: pink;
}

.link {
    margin: 1rem;
    color: white;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    background-color: red;
}

.link:hover {
    transform: scale(1.5);
}

