
.outtermost {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.h2-element {
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 0;
    margin-top: 0; 
}

.new-p{
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}
.contact-body {
       padding-top: 5rem;      
}

form {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;;

}

h2 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

.media-link {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0;
    background: ;
    min-width: 80%;
    flex-wrap: wrap;
}


.link {
    margin: 1rem;
    color: white;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    max-width: 100%;
}

.link:hover {
    transform: scale(1.5);
}


