
input[type=text], input[type=email]{
    padding: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    font-size: 2rem;
    border-width: medium;
}

input[type=submit] {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 1rem;
    border-color: white;
    border-style: solid;
    border-radius:10px;
    background-color: black;
    font-size: 1rem;
    border-width: medium;
}

input,
textarea {
    color: white;
}

textarea:focus,
input:focus, input:active {
    outline: none !important;
    border-color: red;
}

input[type=submit]:active,
input[type=submit]:focus {
    color: red;
}

textarea {
     border-radius:10px;
     border-color: white;
     background-color: black;
     border-width: medium;
     height: 120px;
     font-size: 1rem;
     margin-bottom: 1rem;
     padding: 1rem;
}

input::-webkit-input-placeholder {
    font-family: 'Archivo',
    sans-serif;
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
}

textarea::-webkit-input-placeholder {
        font-family: 'Archivo',
        sans-serif;
        font-size: 2rem;
        text-align: center;
        line-height: 5rem;
        }


textarea,
input[type=text],
input[type=email] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
}

