
input[type=text], input[type=email]{
    padding: 2rem;
    background-color: black;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: white;
    font-size: 2rem;
}

input[type=submit] {
    padding: 2rem;
    border-color: white;
    border-style: solid;
    border-radius:10px;
    background-color: black;
    font-size: 1rem;
}

input,
textarea {
    color: white;
}

textarea:focus,
input:focus {
    outline: none !important;
    border-color: yellow;
}

textarea {
    background-color: black;
    font-size: 1rem;
}

.outside {
    margin: 1rem;
}

textarea {
     border-radius:10px;
     border-color: white;
     width: 600px;
     height: 120px;
     padding:1rem;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Archivo',
    sans-serif;
    font-size: 2rem;
    text-align: center;
}




