.nav {
     position: fixed;
     z-index: 10;
     top: 0;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     transition-timing-function: ease-in;
     transition:1s;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items:center;
     width: 100%;
     font-family: 'Archivo',
     sans-serif;
     font-weight: 600;
} 

.nav-2 {
     backdrop-filter: blur(5px);
}

.nav-item {
     display: flex;
}

.item{
     display: inline-block;
     padding: 1rem;
     color: white;
     text-decoration: none;
     font-size: 1.6rem;

}

.logo {
     color: white;
     text-decoration: none;
     font-size: 2rem;
     padding: 10px 15px;
}