
.body-main {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    min-height: 100vh;
    background-color: black;
    font-family: 'Archivo',
    sans-serif;
    color: white;
}

.intro-p {
    padding-top: 5rem;
    margin-bottom: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

ul {
    list-style-type: none;
    text-align: center;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.image {
    margin: 0;
    padding:0;
    background-color: red;
}

ul {
   padding: 0;
   margin: 0;
}